body {
    background-color: #feffff;
    padding-top: 70px;
    font-family: 'Nova Mono', Sans-Serif, monospace;  
}

.navbar-logo{
    color: black;
}

.navbar {
    background-color: #9764f7;
}

h1 {
    text-align: center;
}

.p-header {
    text-align: center;
}

.header-section {
    margin-top: 50px; 
    margin-bottom: 50px;
}

.cards {
    text-align: center;
}

.outer-card-div {
    margin-bottom: 50px;
}

.inner-card-div {
    width: 100%; 
    background-color: #e7def7;"
}

.card-header-div {
    margin-top: 50px; 
    margin-bottom: 75px;
}


     
#profile-image {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    size: 8; 
    width: 90%;
    color: grey;
}



.card-images {
    height: 55%;
}

@media (max-width: 992px) {
    .large-nav {
        display: none!important;
    }
}

@media (min-width: 768px) {
    .top-box {
        border-right: 1px solid grey;
        padding-right: 50px;
      }
    .bottom-box {
        padding-left: 50px;
        text-align: right;
    }
}

@media (max-width: 768px) {
    .bottom-box {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .small-nav {
        display: none!important;
    }
}

a {
    color: black;
}

.image-card-top{
    height: 75%;
}

.dropdown-toggle::after {
    display: none;
}

.small-nav-dropdown-btn {
    background-color: transparent;
    border-color: transparent;
}

.fa-bars {
    color: black;
}